.Rproj.user
.Rhistory
.RData
.Ruserdata
effort_histsoc_1841_2010_regional_models.csv
IWC_data/
FishMIP_fishing_data/
FishMIP_Plankton_Forcing/
FishMIP_Temperature_Forcing/
FishMIP_processed_forcings/
Masks_netcdf_csv/
SCAR_Diet_Energetics/
*.nb.html