.Rproj.user/
.Rhistory
.RData
.Ruserdata
effort_histsoc_1841_2010_regional_models.csv
IWC_data/
FishMIP_fishing_data/
FishMIP_Plankton_Forcing/
FishMIP_Temperature_Forcing/
FishMIP_processed_forcings/
Masks_netcdf_csv/
SCAR_Diet_Energetics/
In_prep/
plots/
Output_large_files/
Annabelle_Network_Plots/
gfdl_woa-regridded_bias-corr-data_temp_prydz-bay/
gfdl-mom6-cobalt2_obsclim_thetao_15arcmin_prydz-bay_monthly_1961_2010.zarr/
*.nb.html
